In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("../weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Cape Town,ZA,2022-09-26 22:20:04,-33.9258,18.4232,56.91,78,0,2.30
1,1,Ariguani,CO,2022-09-26 22:24:48,10.2500,-74.0000,81.68,80,100,3.65
2,2,Clyde River,CA,2022-09-26 22:24:49,70.4692,-68.5914,34.03,100,75,4.61
3,3,Castro,BR,2022-09-26 22:24:49,-24.7911,-50.0119,57.60,98,100,5.53
4,4,Torbay,CA,2022-09-26 22:24:50,47.6666,-52.7314,62.28,92,100,18.41

In [4]:
# Get the data type
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [9]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [13]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False,
                                 max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Ariguani,CO,2022-09-26 22:24:48,10.2500,-74.0000,81.68,80,100,3.65
13,13,Awbari,LY,2022-09-26 22:24:54,26.5921,12.7805,86.97,21,0,9.51
20,20,Sinnamary,GF,2022-09-26 22:24:57,5.3833,-52.9500,80.40,83,1,14.23
22,22,Saint-Louis,SN,2022-09-26 22:24:58,16.3333,-15.0000,85.64,47,57,7.14
30,30,Mahibadhoo,MV,2022-09-26 22:25:01,3.7833,72.9667,82.02,76,62,15.70
35,35,Amapa,BR,2022-09-26 22:25:03,1.0000,-52.0000,80.91,61,78,3.94
40,40,Teseney,ER,2022-09-26 22:25:06,15.1100,36.6575,81.00,63,11,6.15
45,45,Veraval,IN,2022-09-26 22:25:07,20.9000,70.3667,78.53,77,28,8.57
47,47,Biltine,TD,2022-09-26 22:25:09,14.5333,20.9167,82.15,56,93,13.71
49,49,Cravo Norte,CO,2022-09-26 22:25:09,6.3017,-70.2041,85.86,68,47,2.59

In [25]:
preferred_cities_df.count()

City_ID       169
City          169
Country       168
Date          169
Lat           169
Lng           169
Max Temp      169
Humidity      169
Cloudiness    169
Wind Speed    169
dtype: int64

In [26]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat      Lng Hotel Name
1      Ariguani      CO     81.68  10.2500 -74.0000
13       Awbari      LY     86.97  26.5921  12.7805
20    Sinnamary      GF     80.40   5.3833 -52.9500
22  Saint-Louis      SN     85.64  16.3333 -15.0000
30   Mahibadhoo      MV     82.02   3.7833  72.9667
35        Amapa      BR     80.91   1.0000 -52.0000
40      Teseney      ER     81.00  15.1100  36.6575
45      Veraval      IN     78.53  20.9000  70.3667
47      Biltine      TD     82.15  14.5333  20.9167
49  Cravo Norte      CO     85.86   6.3017 -70.2041

In [31]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index,"Hotel Name"] = hotels['results'][0]["name"]
    except(IndexError):
        print("Hotel Not Found...Skipping")

Hotel Not Found...Skipping
Hotel Not Found...Skipping
Hotel Not Found...Skipping
Hotel Not Found...Skipping
Hotel Not Found...Skipping
Hotel Not Found...Skipping
Hotel Not Found...Skipping
Hotel Not Found...Skipping
Hotel Not Found...Skipping

In [33]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Ariguani,CO,81.68,10.2500,-74.0000,
13,Awbari,LY,86.97,26.5921,12.7805,استراحة الشارب العائلي
20,Sinnamary,GF,80.40,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
22,Saint-Louis,SN,85.64,16.3333,-15.0000,
30,Mahibadhoo,MV,82.02,3.7833,72.9667,Omadhoo Inn
35,Amapa,BR,80.91,1.0000,-52.0000,
40,Teseney,ER,81.00,15.1100,36.6575,Sabrin Hotel
45,Veraval,IN,78.53,20.9000,70.3667,Lords Inn Somnath
47,Biltine,TD,82.15,14.5333,20.9167,Hôtel Trois Étoiles de Biltine
49,Cravo Norte,CO,85.86,6.3017,-70.2041,Hotel Potosí Los Mirtos

In [35]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(marker_layer)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [37]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [39]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))