# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [35]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [7]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Punta Arenas,CL,-53.1500,-70.9167,51.91,46,75,12.66,broken clouds
1,1,Mar Del Plata,AR,-38.0023,-57.5575,66.22,80,75,11.50,broken clouds
2,2,Agadez,NE,19.7500,10.2500,91.94,14,1,6.80,clear sky
3,3,Hermanus,ZA,-34.4187,19.2345,58.80,77,1,11.43,clear sky
4,4,Bialogard,PL,54.0070,15.9875,60.75,63,92,9.40,overcast clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [8]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("Please enter the minimum temperature criteria"))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("Please enter the maximum temperature criteria"))

Please enter the minimum temperature criteria70
Please enter the maximum temperature criteria80

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [11]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <=max_temp) & \
                                      (city_data_df['Max Temp'] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
8,8,Asfi,MA,32.2994,-9.2372,73.98,65,100,18.48,overcast clouds
9,9,Mahebourg,MU,-20.4081,57.7000,71.89,73,40,9.22,scattered clouds
10,10,Bandarbeyla,SO,9.4942,50.8122,77.49,85,79,18.03,broken clouds
17,17,Tsogni,GA,-2.7942,10.0988,76.68,83,92,8.23,overcast clouds
21,21,Dingle,PH,10.9995,122.6711,76.55,91,94,6.78,overcast clouds
23,23,Marsa Matruh,EG,31.3525,27.2453,73.47,56,0,16.40,clear sky
26,26,Souillac,MU,-20.5167,57.5167,71.98,73,40,9.22,scattered clouds
27,27,Rosetta,EG,31.4044,30.4164,74.73,60,0,12.39,clear sky
29,29,Ponta Do Sol,PT,32.6667,-17.1000,75.70,86,92,1.30,overcast clouds
30,30,Paralimni,CY,35.0375,33.9833,77.14,80,85,3.00,overcast clouds

In [12]:
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                1
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [10]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
8,8,Asfi,MA,32.2994,-9.2372,73.98,65,100,18.48,overcast clouds
9,9,Mahebourg,MU,-20.4081,57.7000,71.89,73,40,9.22,scattered clouds
10,10,Bandarbeyla,SO,9.4942,50.8122,77.49,85,79,18.03,broken clouds
17,17,Tsogni,GA,-2.7942,10.0988,76.68,83,92,8.23,overcast clouds
21,21,Dingle,PH,10.9995,122.6711,76.55,91,94,6.78,overcast clouds
23,23,Marsa Matruh,EG,31.3525,27.2453,73.47,56,0,16.40,clear sky
26,26,Souillac,MU,-20.5167,57.5167,71.98,73,40,9.22,scattered clouds
27,27,Rosetta,EG,31.4044,30.4164,74.73,60,0,12.39,clear sky
29,29,Ponta Do Sol,PT,32.6667,-17.1000,75.70,86,92,1.30,overcast clouds
30,30,Paralimni,CY,35.0375,33.9833,77.14,80,85,3.00,overcast clouds

In [13]:
clean_travel_cities.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [14]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City","Country","Max Temp","Current Description","Lat","Lng"]].copy()

# Display sample data
hotel_df.head()

           City Country  Max Temp Current Description      Lat       Lng
8          Asfi      MA     73.98     overcast clouds  32.2994   -9.2372
9     Mahebourg      MU     71.89    scattered clouds -20.4081   57.7000
10  Bandarbeyla      SO     77.49       broken clouds   9.4942   50.8122
17       Tsogni      GA     76.68     overcast clouds  -2.7942   10.0988
21       Dingle      PH     76.55     overcast clouds  10.9995  122.6711

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [15]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"]=""

# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Asfi,MA,73.98,overcast clouds,32.2994,-9.2372,
9,Mahebourg,MU,71.89,scattered clouds,-20.4081,57.7000,
10,Bandarbeyla,SO,77.49,broken clouds,9.4942,50.8122,
17,Tsogni,GA,76.68,overcast clouds,-2.7942,10.0988,
21,Dingle,PH,76.55,overcast clouds,10.9995,122.6711,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [16]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [17]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Asfi,MA,73.98,overcast clouds,32.2994,-9.2372,Hôtel Abda
9,Mahebourg,MU,71.89,scattered clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
10,Bandarbeyla,SO,77.49,broken clouds,9.4942,50.8122,JABIR HOTEL
17,Tsogni,GA,76.68,overcast clouds,-2.7942,10.0988,
21,Dingle,PH,76.55,overcast clouds,10.9995,122.6711,SEGAYA PROPERTY
23,Marsa Matruh,EG,73.47,clear sky,31.3525,27.2453,Beau Site
26,Souillac,MU,71.98,scattered clouds,-20.5167,57.5167,Shanti Maurice Resort & Spa
27,Rosetta,EG,74.73,clear sky,31.4044,30.4164,Green Valley
29,Ponta Do Sol,PT,75.70,overcast clouds,32.6667,-17.1000,Hotel do Campo
30,Paralimni,CY,77.14,overcast clouds,35.0375,33.9833,Amore Hotel Apartments

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [36]:
# Drop the rows where there is no Hotel Name.
hotel_df["Hotel Name"]= hotel_df["Hotel Name"].replace([""],np.nan)
clean_hotel_df=hotel_df.dropna()

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Asfi,MA,73.98,overcast clouds,32.2994,-9.2372,Hôtel Abda
9,Mahebourg,MU,71.89,scattered clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
10,Bandarbeyla,SO,77.49,broken clouds,9.4942,50.8122,JABIR HOTEL
21,Dingle,PH,76.55,overcast clouds,10.9995,122.6711,SEGAYA PROPERTY
23,Marsa Matruh,EG,73.47,clear sky,31.3525,27.2453,Beau Site
26,Souillac,MU,71.98,scattered clouds,-20.5167,57.5167,Shanti Maurice Resort & Spa
27,Rosetta,EG,74.73,clear sky,31.4044,30.4164,Green Valley
29,Ponta Do Sol,PT,75.70,overcast clouds,32.6667,-17.1000,Hotel do Campo
30,Paralimni,CY,77.14,overcast clouds,35.0375,33.9833,Amore Hotel Apartments
32,Vila Velha,BR,76.95,broken clouds,-20.3297,-40.2925,Hotel Vitória Palace

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [37]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label='City_ID')

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [38]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [39]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Hôtel Abda</dd>\n<dt>City</dt><dd>Asfi</dd>\n<dt>Country</dt><dd>MA</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 73.98 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Shandrani Beachcomber Resort & Spa</dd>\n<dt>City</dt><dd>Mahebourg</dd>\n<dt>Country</dt><dd>MU</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 71.89 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>JABIR HOTEL</dd>\n<dt>City</dt><dd>Bandarbeyla</dd>\n<dt>Country</dt><dd>SO</dd>\n<dt>Current Weather</dt><dd>broken clouds and 77.49 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>SEGAYA PROPERTY</dd>\n<dt>City</dt><dd>Dingle</dd>\n<dt>Country</dt><dd>PH</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 76.55 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Beau Site</dd>\n<dt>City</dt><dd>Marsa Matruh</dd>\n<dt>Country</dt><dd>EG</dd>\n<dt>Current Weather</dt><dd>clear sky and 73.47 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Shanti Maurice Resort & Spa</dd>\n<dt>City</dt><dd>Souillac</dd>\n<dt>Country</dt><dd>MU</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 71.98 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Green Valley</dd>\n<dt>City</dt><dd>Rosetta</dd>\n<dt>Country</dt><dd>EG</dd>\n<dt>Current Weather</dt><dd>clear sky and 74.73 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel do Campo</dd>\n<dt>City</dt><dd>Ponta Do Sol</dd>\n<dt>Country</dt><dd>PT</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 75.7 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Amore Hotel Apartments</dd>\n<dt>City</dt><dd>Paralimni</dd>\n<dt>Country</dt><dd>CY</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 77.14 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Vitória Palace</dd>\n<dt>City</dt><dd>Vila Velha</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>broken clouds and 76.95 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [40]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
8   32.2994   -9.2372
9  -20.4081   57.7000
10   9.4942   50.8122
21  10.9995  122.6711
23  31.3525   27.2453
26 -20.5167   57.5167
27  31.4044   30.4164
29  32.6667  -17.1000
30  35.0375   33.9833
32 -20.3297  -40.2925

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [43]:
# Add a marker layer for each city to the map. 
marker_layer=gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig= gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))